@import 'modern-normalize';
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF ;
}
.logo .span {
    color: #434455;
    font-family: Raleway, sans-serif;
}
.logo{
    font-family: "Roboto", sans-serif;
    line-height: 1.17;
    color: #4D5AE5;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3%;
    text-decoration: none;
    text-transform: uppercase;
}

.span-footer {
    color: #f4f4fd;
    font-family: Raleway, sans-serif;
}

.header-nav a{
    line-height: 1.5;
        font-weight: 500;
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
.slogan-button:hover,
.slogan-button:focus{
background-color: #404BBF;
}

address ul a:hover,
address ul a:focus,
.header-navigation:hover,
.header-navigation:focus{
    color: #404BBF;
}

address ul a{
    line-height: 1.5;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2%;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-examples,
.header-nav,
.logo,
.team-members,
address ul,
.advantsges-title {
    list-style: none;
}
.slogan{
    line-height: 1.07;
    font-weight: 700;
     font-size:  56px;
     color: #FFFFFF;
    text-align: center;
}
.slogan-button{
    cursor: pointer;
    line-height: 1.5;
    font-size: 16px;
    font-family: inherit;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
   border: none;
}
.portfolio-examples h3,
.team-members h3{
    line-height: 1,2;
    letter-spacing: 2%;
    font-weight: 500;
    font-size: 20px;
}
.portfolio-examples,
.team-members p,
.advantsges-title p{
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #434455;
    font-weight: 400;
     font-size: 16px;
    }
.advantsges-title{
    letter-spacing: 0.02em;
    font-size: 20px;
}
.visually-hidden{
    color: #2e2f42;
}
.team-title,
.portfolio{
    letter-spacing: 0.02em;
    line-height: 1.1;
    font-weight: 700;
     font-size: 36px;
     text-align: center;
}
.footer{
    background-color: #2e2f42;
}
.footer-text{
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
